<div class='row d-bloc'>
  <%@parcour.each do |parcour|%>

	<div class='col-md-8 col-lg-8 float-left text-justify mt-4'>
	  <%=break_line(parcour.description)%>	
	</div>

	<div class='col-sm-2'>
	  <%=image_tag "nature.png", class:'mt-4'%>
	</div>	
<%end%>
</div>

</div>